debian/files
debian/msutils.postinst.debhelper
debian/msutils.prerm.debhelper
debian/msutils.substvars
debian/stimela.postinst.debhelper
debian/stimela.prerm.debhelper
debian/stimela.substvars
debian/stimela/
build/
debian/stimela.debhelper.log
debian/debhelper-build-stamp
stimela.egg-info/
